<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="topBar mb-6">
      <div class="container">
        <nav class="wrap align-items-center justify-content-between">
          <h1 class="col-4">
            <a href="./index.html">RightShop</a>
          </h1>
          <div class="d-md-none menuToggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="topBar-menu d-md-flex justify-content-end col-md-7 col-12">
            <li class="px-2 py-3 py-md-0"><a href="#advantage">床墊優勢</a></li>
            <li class="px-2 py-3 py-md-0"><a href="#recommend">好評推薦</a></li>
            <li class="px-2 py-3 py-md-0">
              <a href="./product.html">立即訂購</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="product container mb-10">
      <ul class="side-menu d-flex mb-4">
        <li class="d-flex align-items-center active" data-item="全部">
          <img
            src="<%= require('../image/gift.svg') %>"
            alt="全部"
            class="pe-3"
            style="width: 36px; height: 20px; object-fit: cover"
            data-item="全部"
          />全部
        </li>
        <li class="d-flex align-items-center" data-item="床架">
          <img
            src="<%= require('../image/bed.svg') %>"
            alt="床架"
            class="pe-3"
            style="width: 36px"
            data-item="床架"
          />床架
        </li>
        <li class="d-flex align-items-center" data-item="收納">
          <img
            src="<%= require('../image/storage.svg') %>"
            alt="收納"
            class="pe-3"
            style="width: 36px"
            data-item="收納"
          />收納
        </li>
        <li class="d-flex align-items-center" data-item="窗簾">
          <img
            src="<%= require('../image/curtain.svg') %>"
            alt="窗簾"
            class="pe-3"
            style="width: 36px"
            data-item="窗簾"
          />窗簾
        </li>
      </ul>
      <div>
        <ul class="product-wrap"></ul>
      </div>
    </section>
    <section class="cart container mb-6">
      <h3 class="text-center mb-3">我的購物車</h3>
      <table class="cart-table">
        <thead>
          <tr>
            <th scope="col">品項</th>
            <th scope="col">單價</th>
            <th scope="col">數量</th>
            <th scope="col">金額</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="card-table-title">
                <img src="../image/subscribe-bg.jpg" alt="" />
                <p>安東尼床墊</p>
              </div>
            </td>
            <td data-title="單價">NT $3780</td>
            <td data-title="數量">
              <a
                href="javascript:void(0);"
                class="material-icons minus align-middle"
                data-action="minus"
                data-id="${item.id}"
                >remove</a
              >
              <input
                type="text"
                value="${item.quantity}"
                style="width: 30px"
                readonly="readonly"
              />
              <a
                href="javascript:void(0);"
                class="material-icons add align-middle"
                data-action="add"
                data-id="${
                      item.id
                    }"
                >add</a
              >
            </td>
            <td data-title="金額">NT $3780</td>
            <td>
              <a
                href="javascript:void(0);"
                class="material-icons deleteBtn"
                style="font-size: 32px"
                data-cartId="${item.id}"
                data-action="deleteItem"
                >clear</a
              >
            </td>
          </tr>
          <tr>
            <td>
              <div class="card-table-title">
                <img src="../image/subscribe-bg.jpg" alt="" />
                <p>安東尼床墊</p>
              </div>
            </td>
            <td data-title="單價">NT $3780</td>
            <td data-title="數量">
              <a
                href="javascript:void(0);"
                class="material-icons minus align-middle"
                data-action="minus"
                data-id="${item.id}"
                >remove</a
              >
              <input
                type="text"
                value="${item.quantity}"
                style="width: 30px"
                readonly="readonly"
              />
              <a
                href="javascript:void(0);"
                class="material-icons add align-middle"
                data-action="add"
                data-id="${
                      item.id
                    }"
                >add</a
              >
            </td>
            <td data-title="金額">NT $3780</td>
            <td>
              <a
                href="javascript:void(0);"
                class="material-icons deleteBtn"
                style="font-size: 32px"
                data-cartId="${item.id}"
                data-action="deleteItem"
                >clear</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="total text-end mb-5">
        總金額&emsp;&emsp;NT&ensp;<span class="cartTotal display-7"></span>
      </div>
      <div class="text-end">
        <a href="./order.html" class="btn btn-primary">
          下一步，填寫資料<span class="material-icons align-middle"
            >arrow_forward</span
          >
        </a>
      </div>
    </section>
    <footer class="bg-gray pt-7 pb-3">
      <div class="container">
        <ul class="d-sm-flex d-block text-center justify-content-center mb-3">
          <li class="px-3 py-2">
            <a href="#advantage" class="text-white">床墊優勢</a>
          </li>
          <li class="px-3 py-2">
            <a href="#recommend" class="text-white">好評推薦</a>
          </li>
          <li class="px-3 py-2">
            <a href="./product.html" class="text-white">立即訂購</a>
          </li>
          <li class="px-3 py-2">
            <a href="#" class="text-white">管理者登入</a>
          </li>
        </ul>
        <ul class="group-icon d-flex justify-content-center mb-6">
          <li class="px-2">
            <a href="javascript:void(0)"
              ><img
                src="<%= require('../image/fb-icon.svg') %>"
                style="width: 30px"
            /></a>
          </li>
          <li class="px-2">
            <a href="javascript:void(0)"
              ><img
                src="<%= require('../image/ig-icon.svg') %>"
                style="width: 30px"
            /></a>
          </li>
          <li class="px-2">
            <a href="javascript:void(0)"
              ><img
                src="<%= require('../image/twitter-icon.svg') %>"
                style="width: 30px"
            /></a>
          </li>
        </ul>
        <p class="text-white text-center">ⓒ Copyright 2021 BedShop</p>
      </div>
    </footer>
    <!-- start loading -->
    <div class="loading-icon d-none">
      <div class="background"></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid"
      >
        <circle
          cx="50"
          cy="50"
          fill="none"
          stroke="#E6C898"
          stroke-width="5"
          r="15"
          stroke-dasharray="70.68583470577033 25.561944901923447"
        >
          <animateTransform
            attributeName="transform"
            type="rotate"
            repeatCount="indefinite"
            dur="1s"
            values="0 50 50;360 50 50"
            keyTimes="0;1"
          ></animateTransform>
        </circle>
      </svg>
    </div>
    <!-- end loading -->
  </body>
</html>
