.product {
  .side-menu {
    padding: 0 8px;
    li {
      padding: 8px 16px;
      border: 1px solid $gray-500;
      cursor: pointer;
      &.active {
        background-color: $primary;
        color: $black;
        font-weight: 600;
      }
      &:nth-child(1) {
        border-radius: 5px 0 0 5px;
      }
      &:nth-child(4) {
        border-radius: 0 5px 5px 0;
      }
    }
  }
  .product-wrap {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 23.5%;
      background-color: $white;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
      padding: 16px;
      margin: 8px 8px;
      @include largeDesktops() {
        width: 31.5%;
      }
      @include Desktops() {
        width: 46%;
      }
      @include mobile480() {
        width: 100%;
      }
    }
    img {
      margin-bottom: 16px;
      width: 100%;
      height: 270px;
      object-fit: cover;
    }
  }
}

.cart {
  .cart-table {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 18px;
    @include pad() {
      border-collapse: separate;
      border-spacing: 0px 10px;
    }
    tr {
      border-bottom: 1px solid $gray-400;
    }
    th {
      padding: 16px 0;
    }
    td {
      padding: 16px 0;
    }
    @include pad() {
      thead {
        display: none;
      }
      td {
        display: block;
        padding: 16px;
        &:nth-child(4) {
          padding: 16px 16px 36px 16px;
        }
        &:before {
          content: attr(data-title);
          display: inline-block;
          width: auto;
          color: $gray-700;
          min-width: 30%;
          font-weight: 900;
          padding-right: 16px;
        }
      }
      tr {
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
        border-bottom: none;
      }
    }
  }
  .card-table-title {
    display: flex;
    align-items: center;
    img {
      width: 110px;
      height: 100px;
      object-fit: cover;
      object-position: center;
    }
    p {
      padding-left: 16px;
    }
  }
  .deleteItem {
    @include pad() {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .deleteBtn {
    transition: all 0.3s;
    color: $red;
    &:hover {
      transform: rotate(180deg) scale(1.5);
    }
  }
}
